

body {
    background: rgba(50, 120, 125, 0.35);
}

.title,  .guessesRemaining , .displayWord, .userInput  {
	text-align: center;
}

.title {
	margin-top: 20%;
}

.correctGuesses {
    margin-left: 10%;
    position: absolute;
}

.displayWord {
	padding: 5% 5%;
}

.incorrectGuesses {
/*    float: left;*/
    margin-left: 80%;
    position: absolute;

}